.container-filter {
  border-radius: 2rem 0 0 2rem;
  width: 25rem;
  height: 100vh;
  background-color: #ffffff;
  padding: 25px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  position: relative;
  flex-direction: column;
}

.checkbox-filter {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-top: 1rem;
}

.flex-center {
  display: flex;
  align-items: center;
}

.cointainer-filter-btn {
  position: absolute;
  bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 50px);
}

.btn-apply-filter {
  width: 18rem !important;
  color: #f5f5f5 !important;
  background: #656dd1 !important;
  margin-bottom: 1rem !important;
}

.btn-reset-filter {
  width: 18rem !important;
  color: #656dd1 !important;
  background: #f5f5f5 !important;
}
