.link {
    font-size: 1.25rem !important;
    color:grey !important;
    font-weight: bold !important;
}

.page-title {
    text-align: left !important;
    margin: 0 !important;
    font-weight: bold !important;
    padding: 14px 2rem 0 2rem !important;
}

.customer-search-container {
    display: flex !important;
    flex-direction: row !important;
    // justify-content: space-between !important;
    flex-wrap: wrap !important;
}

.customer-foot-note {
    font-style: italic !important;
    color: #A9B0BC !important;
    margin-top: 0 !important;
    font-size: 12px !important;
}

.boolean-container {
    border-radius: 20px !important;
    width: fit-content !important;
}

.margin-0 {
    margin: 0px !important;
}

.avgar-font {
    font-size: 24px !important;
    font-weight: bold !important;
}

.address-font-label {
    margin-right: 10px !important;
    margin-bottom: 5px !important;
    color: #A0A8B3 !important;
}

.bold {
    font-weight: bold !important;
}

.get-data-container {
    background-color: #FFFB9A !important;
    border-radius: 1rem !important;
}

.form-container {
    display: flex !important;
    flex-direction: column !important;
    background-color: white !important;
    margin :1.5rem !important;
    border-radius: 1rem !important;
}

.padding-horizontal {
    padding: 0 2rem !important; 
}

.grey {
    color: #55637A !important;
}

.setting-container {
    display: flex !important;
    flex-direction: column !important;
}

.customer-data-container {
    display: flex !important;
    flex-direction: column !important;
    text-align: center !important;
    margin-right: 4rem !important;
}

.customer-data-label {
    margin-right: 10px !important;
    margin-bottom: 5px !important;
    color: #A0A8B3
}

.accordion-container {
    padding: 1rem !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    cursor: pointer !important;
}

.table-container {
    padding: 1rem !important;
    background-color: #FFEF9A !important;
}

.sales-assign {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    width: 100% !important;
    align-items: center !important;
    flex-wrap: wrap-reverse !important;
}

.sales-assign-search {
    display: flex !important;
    flex-direction: row !important;
    align-items: flex-end !important;
    flex-wrap: wrap !important;
}

.assign-me-button {
    height: fit-content !important;
    margin-left: 2rem !important;
}

.setting-position {
    display: flex !important;
    flex-direction: column !important;
    width: 50% !important;
}

.pmo-toggle {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 14px 2rem 0 2rem !important;
}

.setting-toggle-container {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0.5rem !important;
}

.toggle-margin {
    margin: 0 0.5rem !important;
}

.sales-assign-list {
    width: 50% !important;
}

.sales-list-container {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
}

.sales-container {
    display: flex !important;
    flex-direction: row !important;
    width: fit-content !important;
    margin: 0 0.5rem 0.5rem 0 !important;
}

.sales-name {
    background-color: #DCDCDC !important;
    border-radius: 2rem 0 0 2rem !important;
    padding: 0.5rem 0.75rem !important;
}

.sales-delete {
    background-color: #C8C8C8 !important;
    border-radius: 0 2rem 2rem 0 !important;
    padding: 0.5rem !important;
}

.text-align-left {
    text-align: left !important;
}

.invoicing-schedule-position {
    display: flex !important;
    flex-direction: row !important;
    width: 100% !important;
    justify-content: space-between !important;
    margin-top: 14px !important;
}

.date-range-container {
    background-color: #DCDCDC !important;
    display: flex !important;
    flex-direction: column !important;
    width: fit-content !important;
    height: fit-content !important;
    padding: 1rem !important;
    border-radius: 1rem !important;
    margin-right: 1rem !important;
}

.date-range-container-input {
    display: flex !important;
    flex-direction: row !important;
}

.date-range-input {
    display: flex !important;
    flex-direction: column !important;
    width: 7rem !important;
}

.invoicing-condition-button {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}

.trash-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0.5rem !important;
    border-radius: 100% !important;
    width: fit-content !important;
    cursor: pointer !important;
}

.trash-icon {
    margin: 0 !important;
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    color: white !important;
}

.title-button-row {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}

.button-container {
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
    margin: 1.5rem !important;
}

.button-inner-container {
    display: flex !important;
    flex-direction: row !important;
    width: fit-content !important;
}

@media only screen and (max-width: 767px) {
    .form-container {
        margin: 0.25rem !important;
    }
    
    .setting-position {
        width: 100% !important;
        margin-bottom: 0.5rem !important;
    }

    .sales-assign-list {
        width: 100% !important;
        margin-top: 0.5rem !important;
    }

    .invoicing-schedule-position {
        flex-wrap: wrap !important;
    }
}