.leftToolTip.right.center.popup.visible {
  left: 18.955rem !important;
}
.leftToolTip2.right.center.popup.visible {
  left: 12.788rem !important;
}
.leftToolTip3.right.center.popup.visible {
  left: 5.955rem !important;
}
.leftToolTip4.right.center.popup.visible {
  left: 8.755rem !important;
}
.leftToolTip5.right.center.popup.visible {
  left: 9.655rem !important;
}
.leftToolTip6.right.center.popup.visible {
  left: 10.355rem !important;
}
.leftToolTip7.right.center.popup.visible {
  left: 7.355rem !important;
}
.leftToolTip8.right.center.popup.visible {
  left: 10.955rem !important;
}
//15042021
.SideBarDq {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
//29032021
.right.center.popup.visible {
  left: 7.755rem !important;
}
.item.active.BlueIcon img {
  filter: invert(51%) sepia(86%) saturate(743%) hue-rotate(194deg)
    brightness(88%) contrast(91%) !important;
}
.ui.inverted.menu .active.item.BlueIcon {
  border-radius: 30px 0 0 30px !important;
}
.ui.inverted.menu .active.item {
  background: #eaeded;
  color: #5d8ad7 !important;
  padding: 0.940123em 1.14285714em;
}
.HeaderNavPad {
  padding-top: 27px !important;
}
.SideBarClose > i {
  background-color: #5c8cd7 !important;
  padding: 20px 33px 32px 27px !important;
  margin: -13px 0px -14px -16px !important;
  border-radius: 30px 30px 0 0 !important;
}
.SideBarClose {
  background-color: white !important;
}
.ui.sidebar {
  border-radius: 0 30px 0 0 !important;
}
.ui.sidebar.AdvSrcContainer {
  border-radius: 0 !important;
}
.ZeroBorRad.ui.sidebar {
  border-radius: 0 !important;
}
//05102020 Add new custom semantic
