@import './../../../../index.scss';

.LabelNameLabel h3 {
    margin-top: 0 !important;
    font-size: 1.6rem !important;
    color: #55637A !important; 
}

.LabelNameLabel h4 {
    margin: 0 !important;
    font-size: 1.4rem !important;
    color: #55637A !important; 
}

.LabelNameLabel p {
    margin-top: 0 !important;
    font-size: 0.95rem !important;
    color: #55637A !important; 
    opacity: 0.5;
}

.LabelNameLabel h4>small{
    vertical-align: top;
    opacity: 0.5;
    font-weight: lighter;
    font-style: italic;
    font-size: 0.95rem;
    padding: 0 0 0 5px !important;
}
.ui.form .field.LabelNameLabel  label {
    color: #A0A8B3 !important;
}

.LabelNameLabel {
    cursor: default !important;
}

.value-ic{
  display: flex;
  align-items: center;
  i.mini.icon,
  i.mini.icons {
    font-size: .7em;
  }

  i.icon {
    color: #ffffff !important;
  }
}