
.WhiteBtn {
    background: white !important;
    color: #F97452 !important;
    padding: 0.585714em 1.5em 0.58571429em !important;
}

.SoftRedBtn {
    background: #F97452 !important;
    color: white !important;
    padding: 0.585714em 1.5em 0.58571429em !important;
    margin-bottom: 5px !important;
}

.divider {
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
    padding: 0 !important;
}