
.TitleLabel {
    color: #55637A !important;
    font-weight: bolder !important;
    font-size: 18px !important;
}
.Label{
    font-weight: 700;
}

.red{
    color: red;
}

.mandatory{
    font-weight: 700;
    color: red;
}